/*Small screens*/
@media only screen {
/*	h1{
		position: absolute; 
		top: 15%; 
		left: 0; 
		width: 100%; 
		color: #fff;
	}*/

	h1, h2 {
		font-family: 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	header.major
	{
		position: relative;
		text-align: center;
		border-top: solid 1px #ccc;
		top: 1em;
	}

	header.major h3
	{
		background: #fff;
		position: relative;
		top: -0.65em;
		display: inline;
		margin: 0;
		padding: 0 1em 0 1em;
	}

	.on_top_overlay{
		position: absolute;
		top: 20%;
		left: 35%;
		/*padding: 0px auto;*/
	}
	.drop{
		padding-top: 50px;
	}

	.resize img{
		height: 300px;
		width: 300px;
		border: solid thin #000;
	}

	.border{
		border: solid thin #000;
	}
}

/*Medium screens - min-width 641px,*/
@media only screen and (min-width: 40.063em) { 

	h1{
		position: absolute; 
		top: 60%; 
		left: 0; 
		width: 100%; 
		color: #fff;
	}

	h1 span {
		font: 40px 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
	}

	h2, h3, h4{
		font-family: 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	header.major
	{
		position: relative;
		text-align: center;
		border-top: solid 1px #ccc;
		top: 1em;
	}

	header.major h3
	{
		background: #fff;
		position: relative;
		top: -0.65em;
		display: inline;
		margin: 0;
		padding: 0 1em 0 1em;
	}

	.on_top_overlay{
		position: absolute;
		top: 10%;
		left: 43%;
	}
	.drop{
		padding-top: 50px;
	}

	.resize img{
		height: 500px;
		width: 500px;
		border: solid thin #000;
	}

	.border{
		border: solid thin #000;
	}
}

/*Large screens - min-width 1025px*/
@media only screen and (min-width: 64.063em) { 

	h1{
		position: absolute; 
		top: 25%; 
		left: 0; 
		width: 100%; 
		color: #fff;
	}

	h1 span {
		color: white; 
		font: 45px 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
	}

	h2, h3, h4{
		font-family: 'Passion One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	header.major
	{
		position: relative;
		text-align: center;
		border-top: solid 1px #ccc;
		top: 1em;
	}

	header.major h2
	{
		background: #fff;
		position: relative;
		top: -0.65em;
		display: inline;
		margin: 0;
		padding: 0 1em 0 1em;
	}

	.on_top_overlay{
		position: absolute;
		top: 7%;
		left: 43%;
	}
	.drop{
		padding-top: 50px;
	}
	.scrollup {
	    position: fixed;
	    bottom: 50px;
	    right: 100px;
	    display: none;
	}

	.resize img{
		height: 250px;
		width: 220px;
		border: solid thin #000;
	}

	.border{
		border: solid thin #000;
	}
}

/*XLarge screens - min-width 1441px*/
@media only screen and (min-width: 90.063em) { 


	.scrollup {
	    position: fixed;
	    bottom: 50px;
	    right: 100px;
	    display: none;
	}
}

/*XXLarge screens - min-width 1921px*/
@media only screen and (min-width: 120.063em) { 


	.scrollup {
	    position: fixed;
	    bottom: 50px;
	    right: 100px;
	    display: none;
	}
}

