body {
	background: top center url("../img/low_contrast_linen.png") fixed;
}

.wufoo{
	display:block !important;
	visibility:visible !important;
	text-indent:0 !important;
	position:relative !important;
	height:auto !important;
	width:95px !important;
	overflow:visible !important;
	text-decoration:none;
	cursor:pointer !important;
	margin:0 auto !important
}

.wufoo2{
	style="display:block !important;
	visibility:visible !important;
	text-indent:0 !important;
	position:static !important;
	height:auto !important;
	width:auto !important;
	overflow: auto !important;
	font-weight:normal;
	font-size:9px;
	color:#777;
	padding:0 0 0 3px;
}

.break{
	margin-bottom: 20px;
}

.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*padding: 2%;*/
}

.boxed {
  border: 1px solid green;
  float: both;
}

.resize-float{
	margin:0 auto; 
	height: 146px; 
	width: 200px; 
	float:left;
	padding-right: 15px;
}

.resize-float p{
	padding: 50px auto;
}

.scrollup {
    display: none;
}

@media (min-width: 1200px){
	.scrollup {
	    position: fixed;
	    bottom: 50px;
	    right: 100px;
	    display: none;
	}
}

@media (max-width: 950px) {
	.float-fix{
		float: left;
		margin-right: -50px;
	}
}

@media (min-width: 550px) {
	.float-fix{
		float: left;
		margin-left: 200px;
		margin-right: -50px;
	}

}

.push-down{
	margin-top: 100px;
}

