<!-- Mobile Navbar -->
<nav class="navbar navbar-expand-lg rounded-3 d-lg-none shadow-sm p-3 mb-3 bg-body">
	<div class="container-fluid">
		<button
			class="navbar-toggler"
			type="button"
			(click)="open(content)">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>

<ng-template #content let-offcanvas>

	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-title">Paul Burge</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
	</div>
	<div class="offcanvas-body">
		<div class="offcanvas-body">

			<ul class="navbar-nav mr-auto" (click)="offcanvas.dismiss()">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/resume'" routerLinkActive="active">Resume</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/portfolio'" routerLinkActive="active">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
				</li>
				<hr>
				<li class="nav-item">
					<a class="nav-link theme-hover" (click)="toggleDarkMode()">{{ themeMode }}</a>
				</li>
			</ul>

		</div>
	</div>

</ng-template>

<!-- Desktop Navbar -->
<nav class="d-flex flex-wrap justify-content-center gap-4 rounded-3 p-3 shadow my-4 d-none d-lg-flex bg-body">
	<button
		class="btn d-flex flex-column align-items-center"
		[routerLink]="'/'"
		routerLinkActive="active-navbar-link"
		[routerLinkActiveOptions]="{ exact: true }">

		<i class="fas fa-home fs-4"></i>
		<span class="fw-semibold mt-1">Home</span>

	</button>

	<button
		class="btn d-flex flex-column align-items-center"
		[routerLink]="'/resume'"
		routerLinkActive="active-navbar-link">

		<i class="fas fa-file-alt fs-4"></i>
		<span class="fw-semibold mt-1">Resume</span>

	</button>

	<button
		class="btn d-flex flex-column align-items-center"
		[routerLink]="'/portfolio'"
		routerLinkActive="active-navbar-link">

		<i class="fas fa-briefcase fs-4"></i>
		<span class="fw-semibold mt-1">Portfolio</span>

	</button>

	<button
		class="btn d-flex flex-column align-items-center"
		[routerLink]="'/contact'"
		routerLinkActive="active-navbar-link">

		<i class="fas fa-envelope fs-4"></i>
		<span class="fw-semibold mt-1">Contact</span>

	</button>

	<button
		(click)="toggleDarkMode()"
		class="btn d-flex flex-column align-items-center">

		<i class="fas fs-4" [class]="themeIcon"></i>
		<span class="fw-semibold mt-1">{{ themeMode }}</span>

	</button>
</nav>
