<div class="rounded-3 shadow p-5">

	<h2 class="fw-bold mb-2 about-title">
		ABOUT ME 
		<span class="border-bottom border-3 border-warning ms-2 home-about-banner"></span>
	</h2>

	<p class="mb-4 fs-5">
		Hello and welcome to my portfolio! I am an enthusiastic and adaptable full stack developer who is deeply passionate about exploring the forefront of technology. My path in the realm of software development has been incredibly exciting, and I am continuously working to refine my skills and keep up with the latest industry trends.
	</p>

	<h3 class="fw-bold mb-3 what-i-do-title">What I do!</h3>

	<div class="row g-4">
		<div class="col-md-6">
			<div class="bg-warning-subtle rounded-4 p-3 h-100">
				<div class="d-flex align-items-center mb-2">
					<span class="fs-3 me-2 text-danger"><i class="fas fa-code"></i></span>
					<span class="fw-bold fs-5">Web App Development</span>
				</div>
				<p class="mb-0">
					I specialize in creating dynamic and responsive web applications that deliver seamless user experiences. My expertise lies in both front-end and back-end development, allowing me to build robust solutions that meet diverse business needs.
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="bg-info-subtle rounded-4 p-3 h-100">
				<div class="d-flex align-items-center mb-2">
					<span class="fs-3 me-2 text-warning"><i class="fas fa-mobile-alt"></i></span>
					<span class="fw-bold fs-5">Database Management</span>
				</div>

				<p class="mb-0">
					I have a strong foundation in database management, ensuring data integrity and performance optimization. I work with various database technologies to design and implement efficient data storage solutions.
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="bg-info-subtle rounded-4 p-3 h-100">
				<div class="d-flex align-items-center mb-2">
				<span class="fs-3 me-2 text-warning"><i class="fas fa-object-group"></i></span>
				<span class="fw-bold fs-5">UI/UX Designing</span>
				</div>
				<p class="mb-0">
					
					I design intuitive and visually appealing user interfaces, focusing on user experience and accessibility. My goal is to create designs that are both functional and aesthetically pleasing.
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="bg-warning-subtle rounded-4 p-3 h-100">
				<div class="d-flex align-items-center mb-2">
					<span class="fs-3 me-2 text-danger"><i class="fas fa-chalkboard-teacher"></i></span>
					<span class="fw-bold fs-5">Mentorship</span>
				</div>
				<p class="mb-0">
					I enjoy sharing my knowledge and expertise with others, which gives me a chance to give back to the community that has supported me throughout my career.
				</p>
			</div>
		</div>

	</div>
</div>