<div class="rounded-3 shadow p-5">
	<h2 class="fw-bold mb-4 about-title">
		RESUME
		<span class="border-bottom border-3 border-warning ms-2 title-banner"></span>
	</h2>

	<div class="row g-4">
		
		<h2 class="">Experience</h2>

		<div class="bg-warning-subtle rounded-4 p-4 h-100">
			<h4>Software Engineer</h4>
			<h5 class="'mb-0">GDIT & DecisionPoint Corp <span class="text-danger">*</span></h5>
			<p>Global Freight Management (GFM)</p>
			<p>Nov 2023 to Mar 2025</p>
			<div>
				<p>&#10146; Used Java Spring, AngularJS, and Angular (v13) to support and maintain current and legacy systems.</p>
				<p>&#10146; Collaborated with peers to debug and address errors</p>
				<p>&#10146; Assisted and accomplished efforts to optimize Oracle database queries(parts of the application went from 15-30 second load times down to 3-5 seconds)</p>
				<p>&#10146; Used Jenkins and GitLab for CI/CD pipelines</p>
				<p>&#10146; Developed new API endpoints, new database tables, properly optimized and improved scalability of several endpoints</p>
				<p>&#10146; Created new factories to utilize services like $http and $provide</p>
			</div>
			<p class="fs-6"><span class="fw-bold text-danger">*</span> I was contracted through Insight Global to GDIT for a portion of my time working on the GFM project. DecisionPoint Corp was awarded the contract and I continued work on GFM.</p>
		</div>

		<div class="bg-info-subtle rounded-4 p-4 h-100 ">
			<h4>Senior Software Engineer</h4>
			<h5 class="'mb-0">AccuReg</h5>
			<p>Optum EngageCare</p>
			<p>March 2023 to October 2023</p>
			<div>
				<p>&#10146; Used core Java and Angular (v13), along with a proprietary workflow engine to dynamically display data to hospital patients/staff. Also used Maven for build automation tasks.</p>
				<p>&#10146; Prioritized tasks in order to meet deadlines and solve problems creatively.</p>
				<p>&#10146; Learned, evaluated, and recommended new technologies. </p>
				<p>&#10146; Also created new components to be reused throughout the application.</p>
				<p>&#10146; Responsible for customer bug fix requests and support.</p>
				<p>&#10146; Used Microsoft Azure DevOps for CI/CD.</p>
			</div>
		</div>

		<div class="bg-warning-subtle rounded-4 p-4 h-100">
			<h4>Software Engineer</h4>
			<h5 class="'mb-0">USPS</h5>
			<p>July 2022 to Jan 2023</p>
			<div>
				<p>&#10146; Demonstrated experience developing enterprise web-based applications using Java Spring and AngularJS with Bootstrap.
				<p>&#10146; Provided support for legacy systems and migration efforts.
				<p>&#10146; Wrote code that complied with design specs and met development requirements.
				<p>&#10146; Conducted reviews and analyses of microservices and REST APIs to ensure compliance with coding standards.
				<p>&#10146; Used Jenkins for CI/CD.
			</div>
		</div>

		<div class="bg-info-subtle rounded-4 p-4 h-100">
			<h4>Software Engineer</h4>
			<h5 class="'mb-0">SAIC</h5>
			<p>September 2021 to July 2022</p>
			<div>
				<p>&#10146; Optimized MySQL DB systems for performance and reliability.</p>
				<p>&#10146; Developed front end using Bootstrap and  Angular (v10) and developed back end using Java Spring.</p>
				<p>&#10146; Used Maven for dependency management.</p>
				<p>&#10146; Worked alongside graphic designers for web design features.</p>
				<p>&#10146; Developed and designed RESTful services and REST APIs.</p>
				<p>&#10146; Tested and debugged software to keep worked-on applications optimized.</p>
				<p>&#10146; Complied with standards and organization requirements relative to specific assignments. </p>
			</div>
		</div>

		<div class="bg-warning-subtle rounded-4 p-4 h-100">
			<h4>Software Engineer</h4>
			<h5 class="'mb-0">Katmai Government Services</h5>
			<p>November 2016 to August 2021</p>
			<div>
				<p>&#10146; Used core Java and Angular (v13), along with a proprietary workflow engine to dynamically display data to hospital patients/staff. Also used Maven for build automation tasks. </p>
				<p>&#10146; Fixed bugs from existing web applications and implemented enhancements that improved functionality and speed.</p>
				<p>&#10146; Created ER diagrams (database schemas) with Access to revamp and update legacy databases to improve readability and functionality.</p>
				<p>&#10146; Redesigned legacy web applications to a more modern UI.</p>
				<p>&#10146; Involved in the full life cycle of the software design process, including prototyping, proof of concept, design, interface implementation, testing, and maintenance.</p>
				<p>&#10146; Maintained and supported DoD legacy projects throughout the period of performance using Java Spring, jQuery/Javascript and AJAX, Bootstrap, MySQL/PostgreSQL, and both -Maven and Gradle to process each project’s specific needs.</p>
				<p>&#10146; Worked exclusively with the Salesforce platform for a small DoD project (built on Apex, a language based off Java).</p>
				<p>&#10146; Debugged issues with code, researched possible alternatives to fix any issues, and troubleshooting as necessary was crucial to deploying a product that met government standards.</p>
			</div>
		</div>

	</div>
</div>
